:root{
    --root-color:rgb(224, 16, 9);
}
/* This is for home.html */

.allGroup{
    position: relative;
    width: 100vw;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.allGroup .allGroup_message{
    font-size: 4rem;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.allGroup .group{
    position: relative;
    margin: 2rem 0;
    border: 0.2rem solid black;
    width: 70%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #dfdbdb;
    box-shadow: 0.2rem 0 0.6rem black;

}
.allGroup .group  .title{
    font-size: 4rem;
    font-family: sans-serif;
}
.allGroup .group .other{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}
.allGroup .group .other .time{
    display: inline-block;
}
.allGroup .group .other .info span{
    color: blue;
}

.allGroup .group .other a{
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    border: 0.1rem solid black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0.1rem 0.05rem 0.1rem black;
    margin: 0 1rem;
    box-shadow:  0.1rem 0 0.6rem black;

}
.allGroup .group .other .links a.view_note{
    background-color: rgb(23, 23, 195);
}
.allGroup .group .other .links a.delete{
    background-color: rgb(194, 26, 26);
}
.allGroup .group .other .links a.edit{
    background-color: rgb(8, 105, 8);
}






/* Lets make it responsive */
@media only screen and (max-width: 1000px) {
    .allGroup .group .other .links{
        display: flex;
        flex-direction: column;
        margin-top: -5rem;
    }
    .allGroup .group .other .links a{
        margin: 2rem 0;
        padding: 1.5rem;
    }

    .allGroup .group .other .info{
        margin-top: auto;
    }
    
}