{% extends 'main.html' %}
{% load static %}

{% block title %}{{group.name}}{% endblock title %}

{% block link %}
{% comment %} CSS Link {% endcomment %}
    <link rel="stylesheet" href="{% static 'Style/notesOnly.css' %}">
    <link rel="stylesheet" href="{% static 'Style/group.css' %}">

{% comment %} JS Link {% endcomment %}
    <script src="{% static 'JS/group.js' %}"></script>

{% endblock link %}



{% block body %}

    <div class="container-info-update">

        <div class="infoForGroup">
            <h1 class='group_name'>Group Name: <span>{{group.name}}</span></h1>
            <h1 class='group_creationTime'>Created: <span>{{group.time}}</span></h1>
        </div>

    
        <div class='updateGroup'>
            <h2><span></span> Update your group</h2>
            <form action="{% url 'group' group.id %}" method='POST'>
                {% csrf_token %}
                <label for="name">Group Name:</label>
                <input type="text" name="name" id="name" value="{{group.name}}" required>
                <button type="submit">Update</button>
            </form>
        </div> 

    </div>
 

    <!-- This is for taking the user to the note creation page-->
    <div class="createNoteIcon">
        <h2 class='message'>Create Your Note</h2>
        <a href="{% url 'createNOTE' group.id %}"><div class="round"></div></a>
    </div>


    <section class="allNote">
        <h1 class='allNote_message'>All the notes have shown here in this group of yours</h1>

        {% for i in notes %}

            <div class='notes'>
                <h3 class='title'>{{ forloop.counter }}. {{i.title}}</h3>
                <div class="description">
                    <p>{{i.desc|truncatechars:500}}</p>
                </div>
                <div class="others">
                    <p class='time'>Created <span>{{i.time}}</span></p>                              
                    <div class="links">
                        <a href="{% url 'note' group.id i.id %}" class='view_note'>Viewe Note</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </section>

{% endblock body %}