{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ Note | {% block title %}{% endblock title %}</title>

    <!-- CSS link -->
    <link rel="stylesheet" href="{% static 'Style/main.css' %}">

    
    
    <!-- Jquery Link-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- JavaScript -->
        <script  src="{% static 'JS/main.js' %}"></script>

    
    {% block link %}
    {% endblock link %}
</head>
<body>
    <nav>
        <h1><a href="/">DJ NoTe</a> </h1>
        <form action='{% url 'search' %}' method="get" class="search">
            <button type="submit" class='searchBtn'>Search</button>
            <input type="search" name="searchNote" id="searchNote" placeholder='Search here'>
        </form>
        <ul> 
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'allnotes' %}">All Notes</a></li>
            <li><a href="/admin">Admin Page</a></li>
        </ul>
    </nav>

    <div class='extra_space' style='height:8rem'></div>

    {% comment %} Django Message Section {% endcomment %}
    {% for m in messages %}
        <section class="messageSection {{m.tags}}" >
        {% comment %} <section class="messageSection warning" > {% endcomment %}
            <h1 class='message'>{{m}}</h1>
            <button class="messageBtn">OK</button>
        </section>
    {% endfor %}

        {% block body %}{% endblock body %}

    <footer>
        <!-- I will make it later. -->
    </footer>


</body>
</html>