{% extends 'main.html' %}
{% load static %}

{% comment %} This page is 90% copied from createNOTE.html {% endcomment %}

{% block title %}Create Note  {% endblock title %}

{% block link %}

    {% comment %} CSS link {% endcomment %}
    <link rel="stylesheet" href="{% static 'Style/createNOTE.css' %}">

    {% comment %} JS link {% endcomment %}
    <script src="{% static 'JS/createNOTE.js' %}"></script>

{% endblock link %} 


{% block body %}

<h1 class='groupInfo'>Note Group: <span>{{group.name}}</span></h1>

<div class='createNewNote'>

    {% for i in note %}

        <form action="{% url 'updateNOTE' group.id i.id %}"     method="post" id='createNoteForm'>
            {% csrf_token %}
        <!-- This form will submitted by javascript -->
            <label for="title">Note Title</label>
            <input type="text" name="title" id="title" required value="{{i.title}}">

    {% endfor %}

        <!--This will be hidden by javascript-->
        <input class='hidden' type="text" name="desc"  id="desc">
    </form>

    <br><br><br><br>
    
    <label>Note Body</label>
    {% for i in note %}
        <div class="noteDesc" contenteditable="true" >{{i.desc|safe}}</div>
    {% endfor %}

    <!-- When this button will be clicked, javascript will take the innerHTML of '.noteDesc' and put them into the hidden input tag '.hidden'. And after that javascript will make the submitted.-->
    <br><br>
    <button class="createNoteBtn">Create</button>
    <br><br>

</div>




{% endblock body %}